
/* header */

.header__h1 {
    height: 50px;
    color: white;
    background-color: rgb(115, 114, 114);
    line-height: 70px;
    text-align: center;
    font-weight: bold;
}

.nav {
    display: flex;
    background: lightgrey;
    height: 25px;
}

.nav__ul {
    display: flex;
    padding-top: 8px;
}

.nav__a {
    color: white;
    padding-right: 20px;
    padding-left: 50px;
}

/* main */

.main {
    display: flex;
}

/* section */

.section {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.section1 {
    height: 50px;
    padding-top: 20px;
    padding-left: 10px;
}

.section__.link {
    color: lightgray;
}

/* aside */




